*{box-sizing:border-box;}
/*a{
	color:darkred;
	padding:10px;
}
*/
h1{
	margin:5px 0 0;
}

 .logo1{
	height:100px;
	float:left;
	margin: 15px 0 10px 50px;
}
.logo2, .logo3{
	display:none;
}
#navbar{
	list-style:none; 
	float:right;
	margin-right:50px;
	padding:15px;
}
#navbar li{
	display:inline-block;
	padding:15px;
	border-right:2px solid darkred;
	border-left:2px solid darkred;
}
#navbar li:hover{
	background:darkred;
	color:white;
	border-radius:5px;
	border-right:2px solid white;
	border-left:2px solid white;  
}
#navbar li a{
	text-decoration:none;
	display:inline;
	margin:10px;
	color:white;
 }
header:after{
	content: "";  
	display:table; 
	clear: both;  
}
body{
	margin:0 auto;
	background:black;
	color:darkred;
}
#container{
	background:darkred;
	width:95%;
	height:80vh;
	margin:0 auto;	
	border-top:1px solid white;
	border-bottom:1px solid white;
	
} 

/*Doors*/

#left-door{
	width:50%;
	height:100%;
	background:rgba(0,0,0,.5);
	border-right:5px solid #c0c0c0;
	float:left;
	position:relative;
	z-index:3;
}
#right-door{
	width:50%;
	height:100%;
	background:rgba(0,0,0,.5);
	border-left:5px solid #c0c0c0;
	float:right;
	position:relative;
	z-index:3;
}

/*End of Doorss*/

/*Content Display*/
.default{
	position:absolute;
	top:25%;
	left:25%;
	width:50%;
	min-height:5%;
	height:45%;
	margin:25px auto;
	padding:0 30px;
	background:black;
	z-index:2;
	overflow:hidden;
}
#left-profile{
	padding:0;
	text-align:center;
	list-style:none;
	border:1px solid white;
	display:inline-block; 
}
#right-profile{
	padding:0;
	text-align:center;
	list-style:none;
	border:1px solid white;
	display:inline-block;
  
}
.thumb{
	width:20%;
	height:auto;
	background:white;
	border:1px solid blue;
	margin:10px 5px;
	border:3px solid #c0c0c0;
	font-size: 64px;
	text-align:center;
}
/*End of Content Display*/


footer{
	text-align:center;
	border-top:1px solid white;
	border-bottom:1px solid white;
	color:darkred;
}

 /*==============================================================================
            Tablet Layout (Blue)
===============================================================================*/
 @media (max-width:1024px){

 	.logo2{
		height:100px;
		margin:10px auto;
		width:60%;
		display:block;
	}
	.logo1, .logo3{
		display:none;
	}
	#navbar{
		list-style:none; 
		border:1px solid red;
		text-align:center;
		width:100%;
		font-size:20px;
		margin:0px;
		padding:0;

	}
	#navbar li{
		border:1px solid white;
		text-align:center;
		display:inline-block;
		width:30%;
		margin:2px;
	}
	#navbar li:hover{
		background:darkblue;
		color:white;
	  
	}
	#container{
	background:darkblue;
	width:100%;
	margin:0 auto;
	border-top:1px solid white;
	border-bottom: 1px solid white;	
	}	
	.default{
		position:absolute;
		top:35%;
		left:25%;
		width:90%;
		min-height:5%;
		height:45%;
		margin:25px auto;
		padding:0 30px;
		background:black;		
		z-index:2;
		overflow:hidden;
		border:1px solid white;
	}
	footer{color:blue;}
} 
/*==============================================================================
            Mobile Layout (Green)
===============================================================================*/
 @media (max-width:480px){
  
	#container{
		background:darkgreen;
		color:darkgreen;
		width:100%;
		margin:0 auto;
		overflow:hidden;
		border-top:1px solid white;
		border-bottom:1px solid white;
	}
	.logo1, .logo2{
		display:none;
	}
	.logo3{
		height:100px;
		margin:10px auto;
		/*width:100%;*/
		display:block;
	}
	#navbar{
		list-style:none;
		border:1px solid red;
		width:100%;
		font-size:18px;
		margin:0;
		padding:0;
	}
	#navbar li {
		border:1px solid white;
		width:100%;
		display:block;
		width:95%;
		margin:0 auto;
	}
	#navbar li:hover{
		background:darkgreen;	
		border-radius:5px;
	}
/*	.default{
		position:absolute;
		top:25%;
		width:85%;
		min-height:20%;
		max-height:50%;
		margin:0 auto;
		padding:10px 30px;
		background:black;
		z-index:2;
		overflow:hidden;
	}*/ 
	.default{
	position:absolute;
	top:35%;
	min-width: 70%;
	max-width:70%;
	min-height:5%;
	height:45%;
	margin:25px -45px;
	padding:0 30px;
	background:black;
	z-index:2;
	overflow:hidden;
	}
	footer{color:green;} 
} 
 
